.sw-card {
  max-width: 343px !important;
  height: fit-content !important;
  border-radius: 10px !important;
  background: #f4f5f6;
}

.break-word {
  word-wrap: break-word;
  max-width: 237px !important;
}
